<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linseven.dao.UserMapper">
    <resultMap id="UserMap" type="com.linseven.model.UserPO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="findUser" parameterType="java.lang.String" resultMap="UserMap">
        select * from t_user where username = #{username}
    </select>

    <insert id="addUser" parameterType="UserPO">
        insert into t_user(id,username,password)values(#{id},#{username},#{password})
    </insert>

    <update id="updateUser" parameterType="UserPO">
        update t_user set password = #{password} where username = #{username}
    </update>

</mapper>